@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

/* HOMEPAGE */

.homepage {
    background-color: #FFF5E6;
}

/* homepage image */

.painting-img {
    float: right;
    width: 100%;
    height: 100%;
}

/* intro */

.intro-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}

.image {
    grid-column: 2/5;
    grid-row: 1;
}

.tekst {
    grid-column: 1/1;
    grid-row: 1;
}

.xl-header{
    margin-bottom: 5%;
}

.txt-intro {
    text-align: justify;
}

/* ROMEINSE RIJK - pagina 1 */
.romeinse-rijk-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}
/* leaflet - kaart 1 */
.kaart1{
    grid-column: 1/3;
    grid-row: 1;
}

.kaart1-txt{
    grid-column: 4/6;
    grid-row: 1;
}

#mapid {
    height: 50vh;
    width: 40vw;
}

/* legenda */
.info {
    padding: 6px 8px;
    font: 14px 'Montserrat', sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.info h4 {
    margin: 0 0 5px;
    color: #000000;
}

/* mapbox - kaart 2 */
.mapbox{
    grid-column: 1/3;
    grid-row: 2;
}

.mapbox-txt{
    grid-column: 4/6;
    grid-row: 2;
}

#map {
    width: 130%;
    height: 500px;
}

/* esri - kaart 3 */
.kaart3{
    grid-column: 1/3;
    grid-row: 3;
}

.kaart3-txt{
    grid-column: 4/6;
    grid-row: 3;
}

.iframe-container iframe {
    border: 0;
    width: 130%;
}

/* ROMEINSE KEIZERS - pagina 2 */
.romeinse-keizers-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}
/* ChartJS-keizers-doodsoorzaak */
.chart-js-txt{
    grid-column: 4/6;
    grid-row: 1;
}

.chart-js {
    grid-column: 1/3;
    grid-row: 1;
    height: 60vh;
    width: 40vw;
}

/* Datawrapper-leeftijd-overlijden */
.datawrapper-txt{
    grid-column: 4/6;
    grid-row: 2;
}
#datawrapper-chart-81tpx {
    width: 130%;
    min-width: 40% !important;
    border: none;
}

.chart-datawrapper {
    grid-column: 1/3;
    grid-row: 2;
}

/* kepler */

#kepler {
    width: 130%;
    min-width: 40% !important;
    border: none;
}

.keplermap {
    grid-column: 1/3;
    grid-row: 3;
}

.kepler-txt{
    grid-column: 4/6;
    grid-row: 3;
}
/* POMPEII - pagina 3 */
.pompeii-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}
/* leaflet - geoserver  */
.kaart2{
    grid-column: 1/3;
    grid-row: 1;
}
.kaart2-txt{
    grid-column: 4/6;
    grid-row: 1;
}

#mapid2 {
    height: 50vh;
    width: 40vw;
    margin-left: 5%;
    margin-bottom: 5%;
}

/* chart js - pompeii */

.chart-js-pompeii {
    grid-column: 1/3;
    grid-row: 2;
    height: 60vh;
    width: 40vw;

}

.chart-js-pompeii-txt{
    grid-column: 4/6;
    grid-row: 2;
}

/* ROME - pagina 4 */
.rome-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}
/* openlayers */

.map-ol-txt{
    grid-column: 4/6;
    grid-row: 1;
}

#map-ol {
    height: 50vh;
    width: 40vw;
    grid-column: 1/3;
    grid-row: 1;
}

/* sketchfab */

.sketchfab-embed-wrapper {
    grid-column: 1/3;
    grid-row: 2;
    font-size: 13px;
    font-weight: normal;
    color: #4A4A4A;
}

.sketchfab-embed-wrapper-txt{
    grid-column: 4/6;
    grid-row: 2;
}
.sf {
    height: 44vh;
    width: 71vh;
}

#sketchfab a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* vici - kaart */
.vici-map{
    grid-column: 1/3;
    grid-row: 3;
}

.vici-map-txt{
    grid-column: 4/6;
    grid-row: 3;
}
#vici-map-id {
    width: 130%;
    height: 100%;
    position: relative;
}

/* ROMEINEN IN NEDERLAND - pagina 5 */
.romeinen-nl-grid {
    margin: 2%;
    margin-top: 4.5%;
    margin-bottom: 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5%;
    column-gap: 2%;
}
/* leaflet kaart limes */
.kaart4{
    grid-column: 1/3;
    grid-row: 1;
}

.kaart4-txt{
    grid-column: 4/6;
    grid-row: 1;
}
#mapid-4 {
    height: 50vh;
    width: 40vw;
    margin-left: 5%;
    margin-bottom: 5%;
}

/* flourish */
.iframe-flourish-txt{
    grid-column: 4/6;
    grid-row: 2 ;
}
.flourish {
    width: 200% !important;
    margin-top: 4px !important;
    text-align: left !important;
}

.flourish-credit {
    text-decoration: none !important;
}

.credit {
    width: 105px !important;
    height: 16px !important;
    border: none !important;
    margin-left: 5%;
}

.iframe-flourish {
    grid-column: 1/3;
    grid-row: 2;
    width: 134%;
    height: 250%;
    margin-left: 4.5%;
}

/* BRONNEN */

.bron {
    color: black;
    text-decoration: none;
    margin: 3%;
}

/* FOOTER */

.footer {
    background-color: #7F2122;
}

.footer-txt {
    color: white;
}

.bronnen {
    text-decoration: none;
    color: white;
}